form {
  width: 700px;
  margin: 64px auto;
  height: 80%;

  background: #f2f2f2;
  border: 1px solid #d3e2e5;
  border-radius: 20px;

  /* padding: 64px 80px; */

  overflow: hidden;
}

.profile-container {
  background: #f2f2f2;
  width: 90%;
  height: 50px;
  height: 80%;
}

form legend {
  width: 100%;

  font-size: 32px;
  line-height: 34px;
  /* color: #5c8599; */
  color: #567c8f;

  font-weight: 700;

  border-bottom: 1px solid #d3e2e5;
  margin-bottom: 40px;
  padding-bottom: 24px;
}

.janela {
  background: #f2f2f2;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.input-block {
  width: 90%;
  padding-left: 20px;
  padding-bottom: 17px;
}

form input {
  /* background: #f5f8fa; */
  border: 1px solid #d3e2e5;
  border-radius: 20px;
  outline: none;
  color: #5c8599;
  width: 90%;

  height: 64px;
  padding: 0 16px;
}

form button {
  height: 64px;
  background: #f5f8fa;
  border: 1px solid #d3e2e5;
  color: blue;
  cursor: pointer;
  transition: background-color 0.2s;
}

form button:hover {
  background: #36cf82;
}
